<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>To-Do Manager</title>
		<meta name="description" content="">
		<meta name="author" content="jpecht">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="all">
		<link rel="stylesheet" href="css/nprogress.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="lib/angular.min.js"></script>
	</head>

	<body ng-app="Todo">
		<header>To-Do Manager</header>
		
		<div class="status-overlay" ng-controller="StatusController as sc">
			<div class="status-container">
				<div class="status-buttons" ng-show="sc.buttonsShowing" ng-cloak>
					<span class="register-link link" ng-click="sc.showForm('register')">register</span>
					&nbsp; · &nbsp;
					<span class="login-link link" ng-click="sc.showForm('login')">login</span>
				</div>
				<div class="status-info" ng-show="!sc.buttonsShowing" ng-cloak>
					<span class="logged-in-text"></span>
					&nbsp; · &nbsp;
					<span class="logout-link link" ng-click="sc.logout()">logout</span>
				</div>
			</div>
		
			<div class="form-container" ng-show="sc.formShowing && sc.formType === 'register'" ng-cloak>
				<form id="register-form" class="form-inline" role="form">
					<div class="margin-top-5"><input id="register-form-email" type="email" class="form-control" placeholder="email" required></div>
					<div class="margin-top-5"><input id="register-form-username" class="form-control" placeholder="username" ng-minlength="2" required></div>
					<div class="margin-top-5"><input id="register-form-password" class="form-control" type="password" placeholder="password" ng-minlength="6" ng-maxlength="20" required></div>
					<div class="margin-top-5"><input id="register-form-confirm-pw" class="form-control" type="password" placeholder="confirm password" ng-minlength="6" ng-maxlength="20" required></div>
					<div class="right margin-top-5"><button type="submit" class="btn btn-default">Register</button></div>
				</form>
				<img class="close-icon" src="img/close_16.png" width="16" height="16" ng-click="sc.hideForm()">
			</div>
			<div class="form-container" ng-show="sc.formShowing && sc.formType === 'login'" ng-cloak>
				<form id="login-form" class="form-inline" role="form">
					<div class="margin-top-5"><input id="login-form-username" class="form-control" placeholder="username" required></div>
					<div class="margin-top-5"><input id="login-form-password" class="form-control" type="password" placeholder="password" required></div>
					<div class="margin-top-5 center"><label>
						<input type="checkbox" checked><span>&nbsp; remember me</span>
					</label></div>
					<div class="right margin-top-5"><button type="submit" class="btn btn-default">Log In</button></div>
				</form>
				<img class="close-icon" src="img/close_16.png" width="16" height="16" ng-click="sc.hideForm()">
			</div>
			<div class="shield" ng-show="sc.formShowing" ng-click="sc.hideForm()" ng-cloak></div>
		</div>
		
		<div class="masterlist container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="block block-s">
						<div class="block-title">small</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="block block-m">
						<div class="block-title">medium</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="block block-l">
						<div class="block-title">large</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cmdline-container center">
			<input class="cmdline">
			<div class="cmdline-info">command line</div>
		</div>
		
		<div class="docs" ng-controller="DocsController as docs">
			<div class="docs-title link" ng-cloak ng-click="docs.toggle()" ng-bind="docs.titleText"></div>
			<div class="docs-text margin-top-5" ng-show="docs.showing" ng-cloak>
				<p>To add to the "small" list, type <kbd>add "clean room" -s</kbd></p>
				<p>Similarly, suffix your code with <kbd>-m</kbd> or <kbd>-l</kbd> to add to the "medium" and "large" lists</p>
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="lib/jquery.noty.packaged.min.js"></script>
		<script src="lib/nprogress.js"></script>
		<script src="lib/md5.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
